
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif; 
    background-color: #6e7d77;   
    color: #2B2B2B;             
    line-height: 1.6;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFD700;             
    font-size: 25px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

header nav ul li a:hover, 
header nav ul li a.active {
    color: #FFD700;              
}


.hero {
    background-color: #4A1525;  
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0 20px;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #FFD700;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 600px;
}

.btn {
    background-color: #8B0000;
    color: #FFFFFF;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #FFD700;
    color: #8B0000;
}


.welcome {
    padding: 80px 15%;
    text-align: center;
}

.welcome h2 {
    font-size: 36px;
    color: #8B0000;
    margin-bottom: 20px;
}


footer {
    background-color: #2B2B2B;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
